/*Base*/

* {
    margin: 0 auto;
    padding: 0;
}

body {
    background-color: #222;
}

a {
    text-decoration: none;
}

.row-limit-size {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.display-flex {
    display: flex;
}

/*TEXTE*/

.text-white {
    color: aliceblue;
}

.uppercase {
    text-transform: uppercase;
}

.sans-serif-font {
    font-family: Arial, Helvetica, sans-serif;
}

/*Header*/

#bg-header {
    width: 100%;
    background: url(../img/img-bg-header.png) center center / cover no-repeat;
}

nav#main-menu>ul {
    list-style-type: none;
}

nav#main-menu>ul>li {
    margin-top: 20px;
    
}

#logo {
    padding: 10px;
    align-content: center;
    align-self: center;
}

#title-h1 {
    flex-direction: column;
    padding-bottom: 20px;
}

h1 {
    font-weight: 400;
    font-size: 8rem;
    line-height: 120px;
}


/*Container*/

#section1 {
    padding: 50px;
    display: flex;
    background-color: #111;
}

#section1>div {
    padding: 25px;
    align-self: center;
}

#section1>div>h2 {
    text-align: center;
}

#section1>div>p {
    padding: 10px;
    text-align: center;
}

/*Slide*/

#slider {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #333;
}

#window-slider {
    margin-top: 80px;
    width: 80vw;
    max-width: 400px;
    height: 500px;
<<<<<<< HEAD
    overflow: hidden;
=======
>>>>>>> 55d76c0240eb198fe63cb5e2b9aad57ce0e0aef4
}

#list-slide {
    display: flex;
    transition: all .5s ease-in-out;
}


#button {
    display: flex;
}

#left,
#right {
    padding: 50px;
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.5s ease;
}

#left:hover, #right:hover {
    opacity: 1;
}

/*About Us*/

#section2 {
    padding: 50px;
    background-color: #111; 
}

#section2>div {
    padding: 50px;
    background-color: #ddd;
    text-align: center;
}

#section2>div>figure {
    display: flex;
    align-self: flex-end;
    margin-bottom: 15px;
}

<<<<<<< HEAD

=======
>>>>>>> 55d76c0240eb198fe63cb5e2b9aad57ce0e0aef4
/*Location*/

#sous-section3 {
    display: flex;
    flex-direction: column;
    align-content: center; 
    padding: 30px 50px 0;
    background-color: #000;
    border: #000 solid .4px;
    border-top-left-radius: 12%;
    border-bottom-left-radius: 12%;

}

#sous-section3>div#section3-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 15px;
    text-align: center;
}

#sous-section3>div#section3-text>h2 {
    color: #888;
    font-size:medium;
    padding: 8px;
}

#sous-section3>div>p {
    color: #fff;
    font-size: small;
    display: flex;
    justify-content: center;
}

#sous-section3>figure {
    padding-top: 50px;
}

#sous-section3>div.mapouter {
    padding-top: 50px;
}

/*Formulaire*/

#contact>div {
    padding-top: 50px;
    background-color: #333;
}

#form-wrapper {
    display: flex;
    flex-direction: column;
}

#form-wrapper>div {
    padding: 50px;
    display: flex;  
}

fieldset {
    border: #fff solid .4px;
}

form {
    margin: 30px;
}

form>label {
    line-height: 30px;
}

form>p {
    padding-top: 10px;
}

input {
<<<<<<< HEAD
    border: #000;
=======
>>>>>>> 55d76c0240eb198fe63cb5e2b9aad57ce0e0aef4
    height: 20px;
}

input[type=radio]{
    margin: 5px 0;
}

input[type=submit]{
    width: 50%;
    height: 50px;
    margin-bottom:  10px;
    color: #fff;
    background-color: #000;
    display: flex;
    justify-content: center;
    border: none;
}

#textarea {
    width: 100%;
    resize: none;
}

/*Footer*/

 footer>p {
    padding: 20px;
    background-color: #000;
    text-align: center;
 }

/*Screen devise*/

@media screen and (max-width: 700px) {

    #main-menu>figure>img {
        height: 120px;
    }

    h1 {
        font-size: 4rem;
    }

    #title-h1>p {
        font-size: .8rem;
    }

    #section1 {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
    }

    #form-wrapper>div {
        display: flex;
        flex-flow: column wrap;
    }
}